:root {
  --primary-color: #ffcb18;
  --secondary-color: #426b7b;
  --accent-1: #627b6b;
  --accent-2: #818b5a;
  --accent-3: #a19b4a;
}

html {
  scroll-behavior: smooth;
}

.bg-pattern {
  background-color: var(--primary-color);
  background-image: radial-gradient(#000000 0.5px, transparent 0.5px),
    radial-gradient(#000000 0.5px, var(--primary-color) 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
